<div class='headline'>
	<h2>Request</h2>
</div>

<hr/>

<div>
	<p class='property-key'>Path</p>
	<p class='property-value'>{{this.url}}</p>
</div>
<div>
	<p class='property-key'>Method</p>
	<p class='property-value'>{{this.method}}</p>
</div>
<div>
	<p class='property-key'>Host</p>
	<p class='property-value'>{{this.headers.host}}</p>
</div>
<div>
	<p class='property-key'>Locale</p>
	<p class='property-value'>{{this.language}}</p>
</div>